.NoticeTab {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  background-color: #0000cd;
  border: transparent;
  height: 60px;
  color: white;
  padding: 15px 32px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.NoticeTab:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
